@import "../../assets/stylesheets/base/colors";

.wrapper{
  margin: 13.36px 0;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: 0px 2px 7px rgb(0 0 0 / 20%);
}

.head{
  display: flex;
  justify-content: space-between;
}

.body{
  display: flex;
  justify-content: space-between;
}
.head, .body {
  margin-left: 6.64px;
}
.name{
  margin-top: 0;
  margin-bottom: 6px;
  color: #263238;
  font-size: 16px;
  font-weight: 400;
}

.url{
  margin-top: 2px;
  margin-bottom: 2px;
  color: #aaaaaa;
  font-weight: 500;
}

.toolbar{
  display: flex;
  justify-content: right;
}

.expander{
  margin-left: 10px;
  margin-top: 7px;

  background: none;
  border: none;
  position: relative;

  cursor: pointer;
  outline: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }

  &:not(.expanded){
    &::before {
      border-bottom: 7px solid $text-color;
    }
  }

  &.expanded{
    &::before {
      border-top: 7px solid $text-color;
    }
  }
}

.blocks-wrapper{
  margin: 12px 0 16px;
  text-align: center;
  color: $danger-color;
  font-weight: 700;
  p {
    background: rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 4px 8px;
    margin: 0 0 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #263238;
    text-align: left;
    span {
      display: inline-block;
      width: 100%;
      font-size: 10px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: #304FFE;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}
