<div class="wrapper">
  <article class="head">
    <h1 class="name">
      {{ node.name || 'Unknown' }}
    </h1>
    <div class="toolbar">
      <app-status [loading]="node.loading" [online]="node.online"></app-status>
      <button class="expander" [ngClass]="{ expanded: expanded }" (click)="handleToogleExpand(node)"></button>
    </div>
  </article>
  <div class="body">
    <span class="url">
      {{ node.url }}
    </span>
  </div>

  <div class="blocks-wrapper" *ngIf="expanded && node?.blocks?.loading">
    <app-status [loading]="true"></app-status>
  </div>
  <div class="blocks-wrapper" *ngIf="expanded && !node?.blocks?.loading">
    <p *ngFor="let block of node?.blocks?.data">
      <span>{{ block.id }}</span>
      {{ block.attributes.data }}
    </p>
    <div *ngIf="!node?.blocks?.data?.length">
      There is not blocks
    </div>
  </div>
</div>
